@import "tailwindcss";
@import "katex/dist/katex.css";
@import "./fonts.css";

@custom-variant theme-default (&:where(.theme-default, .theme-default *));
@custom-variant oldschool (&:where(.oldschool, .oldschool *));

.theme-default,
.theme-default * {
  --color-text: var(--color-slate-100);
  --color-text-light: var(--color-slate-500);
  --color-body-bg: var(--color-black);
  --color-modal-bg: var(--color-gray-950);
  --color-primary: var(--color-gray-800);
  --color-light-primary: var(--color-gray-700);
  --color-active: var(--color-gray-600);
  --color-link: var(--color-sky-200);
  --color-my-red: var(--color-red-900);
  --color-my-blue: var(--color-blue-900);
  --color-my-green: var(--color-green-900);
  --body-font-size: 17px;
  --material-icon-font-size: 24px;
  --default-font-family: "Source Sans 3", sans-serif;
}

.oldschool,
.oldschool * {
  --color-text: #000;
  --color-text-light: #666;
  --color-body-bg: #fff;
  --color-modal-bg: #eee;
  --color-primary: #ddd;
  --color-light-primary: #eee;
  --color-active: #eee;
  --color-link: #00a;
  --color-my-red: #f00;
  --color-my-blue: #00f;
  --color-my-green: #0f0;
  --body-font-size: 14px;
  --material-icon-font-size: 20px;
  --default-font-family: "Arial", sans-serif;
}

@utility my-round {
  @apply theme-default:rounded-sm;
}

@utility my-shadow {
  @apply theme-default:shadow-md;
}

@utility font-ui {
  @apply oldschool:font-[W95FA] oldschool:text-[14px];
}

@utility oldschool-border {
  @variant oldschool {
    @apply border-[2px] [border-style:outset] active:[border-style:inset] border-(--color-light-primary);
  }
}

/* Basic typography */

body {
  @apply font-(--body-font-size) font-(family-name:--default-font-family) bg-(--color-body-bg);
}

@layer base {
  * {
    @apply text-(--color-text);
  }
}

h1 {
  @apply text-2xl font-bold;
}

/* Navigation */

.square {
  @apply size-8;
}
.toolbar {
  @apply z-20;
}

nav li {
  @apply py-2 px-3 oldschool:p-1 bg-(--color-primary);
}

nav li.active {
  @apply py-2 px-3 oldschool:p-1 bg-(--color-active);
}

.panel {
  @apply p-2;
}

/* Form inputs */

input[type="text"] {
  @apply bg-(--color-primary) my-round h-8 p-1;
}

input[type="text"]:disabled {
  @apply text-slate-600;
}

input[type="text"].error {
  @apply bg-red-950;
}

button,
.button {
  @apply bg-(--color-primary) my-round h-8 p-1 cursor-pointer active:bg-(--color-active) hover:bg-(--color-light-primary) font-ui;
  @apply oldschool-border;
}

button.active {
  @apply bg-(--color-light-primary);
  @variant oldschool {
    @apply [border-style:inset];
  }
}

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
}

.theme-default input[type="range"]::-moz-range-track {
  @apply bg-(--color-primary) h-2 rounded-full;
}

.theme-default input[type="range"]::-webkit-slider-runnable-track {
  @apply bg-(--color-primary) h-2 rounded-full;
}

.theme-default input[type="range"]::-moz-range-thumb {
  @apply bg-gray-200 size-4 rounded-full border-none cursor-pointer;
}

.theme-default input[type="range"]::-webkit-slider-thumb {
  @apply bg-gray-200 size-4 rounded-full border-none cursor-pointer -mt-1;
  -webkit-appearance: none;
}

.oldschool input[type="range"]::-moz-range-track {
  @apply bg-[#eee] h-2;
}

.oldschool input[type="range"]::-moz-range-thumb {
  @apply bg-[#ddd] [border-style:outset] border-[2px] border-(--color-active) size-4 border-none cursor-pointer rounded-none;
}

input[type="number"] {
  -moz-appearance: textfield;
  @apply font-ui bg-(--color-primary) p-1 my-round text-center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
