@import "tailwindcss";

@import "katex/dist/katex.css";

/* fallback */
@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 100 700;
  src: url("./assets/fonts/material_icons.woff2") format("woff2");
}

h1 {
  @apply text-2xl font-bold;
}

.material {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
  font-variation-settings:
    "FILL" 0,
    "wght" 300,
    "GRAD" -25,
    "opsz" 24;
}

@theme inline {
  --color-primary: var(--color-gray-800);
  --color-active: var(--color-gray-600);
  --color-link: var(--color-sky-200);
}

input[type=text] {
  @apply bg-primary rounded-sm h-8 p-1;
}

input[type=text]:disabled {
  @apply text-slate-600;
}

button {
  @apply bg-primary rounded-sm h-8 p-1 cursor-pointer active:bg-active;
}

button.square {
  @apply size-8;
}

button.active {
  @apply bg-gray-600;
}
