@import "tailwindcss";
@import "katex/dist/katex.css";

@custom-variant theme-default (&:where(.theme-default, .theme-default *));
@custom-variant oldschool (&:where(.oldschool, .oldschool *));

/* source-sans-3-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/source-sans-3-v18-latin_latin-ext-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* source-sans-3-700 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/source-sans-3-v18-latin_latin-ext-700.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: "W95FA";
  src: url("./assets/fonts/w95fa.woff2") format("woff2");
}

/* fallback */
@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 100 700;
  src: url("./assets/fonts/material_icons.woff2") format("woff2");
}

body {
  font-size: var(--body-font-size);
  background-color: var(--color-body-bg);
}

h1 {
  @apply text-2xl font-bold;
}

.material {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: var(--material-icon-font-size);
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
  font-variation-settings:
    "FILL" 0,
    "wght" 300,
    "GRAD" -25,
    "opsz" 24;
}

@theme inline {
  --color-text: var(--color-slate-100);
  --color-text-light: var(--color-slate-500);
  --color-body-bg: var(--color-black);
  --color-primary: var(--color-gray-800);
  --color-light-primary: var(--color-gray-700);
  --color-active: var(--color-gray-600);
  --color-link: var(--color-sky-200);
  --color-my-red: var(--color-red-900);
  --color-my-blue: var(--color-blue-900);
  --color-my-green: var(--color-green-900);
  --body-font-size: 17px;
  --material-icon-font-size: 24px;
  --default-font-family: "Source Sans 3", sans-serif;
}

.oldschool, .oldschool * {
  @theme inline {
    --color-text: #000;
    --color-text-light: #666;
    --color-body-bg: #fff;
    --color-primary: #ddd;
    --color-light-primary: #eee;
    --color-active: #eee;
    --color-link: #00a;
    --color-my-red: #f00;
    --color-my-blue: #00f;
    --color-my-green: #0f0;
    --body-font-size: 14px;
    --material-icon-font-size: 20px;
    --default-font-family: "Arial", sans-serif;
  }
}

@utility my-round {
  @apply rounded-sm oldschool:rounded-none;
}

@utility font-ui {
  @apply oldschool:font-[W95FA] oldschool:text-[14px];
}

@layer base {
  * {
    @apply text-text;
  }
}

input[type="text"] {
  @apply bg-primary my-round h-8 p-1;
}

input[type="text"]:disabled {
  @apply text-slate-600;
}

input[type="text"].error {
  @apply bg-red-950;
}

button,
.button {
  @apply bg-primary my-round h-8 p-1 cursor-pointer active:bg-active hover:bg-light-primary font-ui;
  @variant oldschool {
    @apply border-[3px] [border-style:outset] active:[border-style:inset] border-light-primary;
  }
}

button.active {
  @apply bg-gray-600;
}

.square {
  @apply size-8;
}

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
}

.theme-default input[type="range"]::-moz-range-track {
  @apply bg-primary h-2 rounded-full;
}

.theme-default input[type="range"]::-webkit-slider-runnable-track {
  @apply bg-primary h-2 rounded-full;
}

.theme-default input[type="range"]::-moz-range-thumb {
  @apply bg-gray-200 size-4 rounded-full border-none cursor-pointer;
}

.theme-default input[type="range"]::-webkit-slider-thumb {
  @apply bg-gray-200 size-4 rounded-full border-none cursor-pointer -mt-1;
  -webkit-appearance: none;
}

.oldschool input[type="range"]::-moz-range-track {
  @apply bg-[#eee] h-2;
}

.oldschool input[type="range"]::-moz-range-thumb {
  @apply bg-[#ddd] [border-style:outset] border-[2px] border-active size-4 border-none cursor-pointer rounded-none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.toolbar {
  @apply z-20;
}

nav li {
  @apply py-2 px-3 oldschool:p-1 bg-primary;
}

nav li.active {
  @apply py-2 px-3 oldschool:p-1 bg-active;
}

.panel {
  @apply p-2;
}
